* {
    padding: 0;
    margin: 0;
    font: 16px Tahoma, sans-serif;
}

body {
    background-color: #e4e4e4;
}

#tweet {
    margin: auto;
    margin-top: 40px;
    width: 620px;
    height: auto;
    padding: 40px;
    padding-top: 34px;
    background-color: white;
    border-radius: 10px;
}

#headerLeft {
    height: 64px;
    width: 64px;
    float: left;
}

#headerRight {
    height: 44px;
    width: auto;
    margin-left: 70px;
    padding: 10px;

    font-size:16px;
}

#pic {
    background-color: gray;
    border-radius: 32px;
}

#name {
    font-weight: bold;
}

#handle {
    margin-top: 2px;
}

#quote {
    margin-top: 20px;
    color: #222222;
    font-size:20px;
    line-height: 27px;
}

span {
    color: #1d9bf0;
    font-size: 20px;
}

#button {
    display:block;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: #f6f6f6;
    border:1px solid #6e6e6e;
}

#button:hover{
    background-color:white;
}

@media only screen and (max-width: 700px) {
    #tweet {
        width: auto;
        height: auto;
        margin: 15px;
        margin-top: 40px;
        padding: 40px;
    }

    #button {
        padding: 35px;
        font-size: 22px;
    }

    #quote{
        margin-top:30px;
        font-size:30px;
        line-height: 37px;
    }

    span{
        font-size: 30px;
    }

    #name{
        margin-top:-5px;
        font-size: 20px;
    }

    #handle{
        margin-top: 0px;
        font-size: 20px;
    }

}